.env
# CHAVE - OPENAI API
OPENAI_API_KEY=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

# SENHA DE ACESSO - ADMIN
SENHA_ADMIN=admin123
